@media (max-width: 900px) {
  p {
  }
}
@media (min-width: 100px) {
  p {
  }
}

body {
  background: linear-gradient(
    200deg,
    rgb(0, 200, 0),
    rgb(0, 220, 0),
    rgb(0, 200, 0)
  );
  height: 2050px;
}
#title {
  position: relative;
  text-align: center;
  margin: auto;
  text-align: center;
  letter-spacing: 10px;
  line-height: 50px;
  margin-top: 30px;
  width: 670px;
  padding: 80px;
}

#description {
  display: block;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1em;
  margin: auto;
  margin-top: 20px;
}

#form-background {
  width: 800px;
  height: auto;
  display: flex;
  margin: auto;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 15px;
  position: relative;
  top: 40px;
  font-size: 18px;
}

#survey-form {
  position: relative;
  padding: 10px;
  width: 90%;
  margin: auto;
}

#part-1-title {
  display: auto;
  margin: auto;
}

#part-2-title {
  display: auto;
  margin: auto;
}

#part-3-title {
  display: auto;
  margin: auto;
}

#part-1-2 {
  float: left;
  display: grid;
  grid-gap: 10px;
  width: 40%;
}

#first-grid {
  display: grid;
  align-items: space-around;
  grid-gap: 10px;
}

#first-grid div input {
  width: 260px;
  height: 50px;
  font-size: 20px;
}

h2 {
  display: auto;
  margin: auto;
  font-size: 25px;
  letter-spacing: 2px;
}

#part-2 {
  width: 260px;
}

#scared-textbox-label {
  margin-top: 25px;
}
#scared-area {
  resize: none;
  width: 260px;
  height: 130px;
  font-size: 20px;
}

#part-3 {
  display: block;
  float: right;
  width: 50%;
  margin: auto;
}

#dropdown {
  display: block;
  margin: auto;
  height: 2em;
  width: 8em;
  font-size: 20px;
  text-align: center;
}

#part-4 {
  text-align: center;
  display: block;
  padding: 10px;
  padding-top: 30px;
  clear: both;
}

#textArea {
  width: 100%;
  height: 100px;
  resize: none;
  font-size: 20px;
}
#submit {
  display: block;
  margin: auto;
  font-size: 100%;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.paragraphs {
  width: 100%;
  text-align: center;
}

.basic-info-align {
  display: flex;
  flex-direction: column;
}

fieldset ul input[type='radio'] {
  width: 2em;
  height: 2em;
}

fieldset ul input[type='checkbox'] {
  width: 2em;
  height: 2em;
}
